extends layout
block content
  body.needStyle
    h3.
      Schools
    ul
      -for(var i=0; i<schools.length; i++)
        -var school = schools[i]
        li
          p() #{school.name}
    br
    br
    br
    br
    a(href='/admin') Back