extends layout
block content
  -var cmp = function(u1, u2) {
    -if(u1.school !== u2.school) return 1;
    -return 0; 
  -}
  -userlist = userlist.slice(1).sort(cmp);
  body.needStyle
    h1.
      Users
    ul
      -for(var i=0; i<userlist.length; i++)
        -var user = userlist[i]
        li
          p() #{user.email} is from #{user.school}.
    br
    br
    br
    br
    a(href='/admin/manage') Back