extends layout
block content
  body.needStyle
    h3.
      Users
    ul
      -for(var i=1; i<userlist.length; i++)
        -var user = userlist[i]
        li
          p() #{user.email} is from #{user.school}.
    br
    br
    br
    br
    a(href='/admin') Back