body.needStyle {
  margin-top: 61px !important;
  margin-bottom: 61px !important;
  padding-top: 30px !important;
  padding-left: 18% !important;
  padding-right: 18% !important;
  background-color: rgb(235, 238, 238) !important;
}